.mainContaints {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 70px;
   /*  background-color: rgba(0, 50, 50, .2); */
}


.mainContaints > section {
    color: #fff;
    background-color: var(--primary-color);
}
