.navbar {
    width: 80vw;
    height: calc(100vh - 70px);
    background: var(--secondary-color);
    position: fixed;
    top: 70px;
    transform: translateX(-80vw);
    z-index: 5;
    transition-duration: .5s;
    border-bottom-right-radius: 20px;
}

.navbar .listIcon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 1rem auto;
    background-color: var(--third-color);
}

.navbar .listIcon img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
}

.navbar ul {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navbar ul a {
    font-size: 30px;
    color: var(--primary-color);
}

.navbar ul a {
	transform: translateX(-80vw);
}

.navbar ul a:nth-child(1) {
	transition-duration: .2s;
}
.navbar ul a:nth-child(2) {
	transition-duration: .4s;
}
.navbar ul a:nth-child(3) {
	transition-duration: .6s;
}
.navbar ul a:nth-child(4) {
	transition-duration: .8s;
}
.navbar ul a:nth-child(5) {
	transition-duration: 1s;
}
.navbar ul a:nth-child(6) {
	transition-duration: 1.2s;
}
.active ul a:nth-child(n) {
    transform: translateX(0);
}


/*--Icons Styling*/

.navbar .socials {
    width: 85%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .socials a {
    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--third-color);
}

.navbar .socials a img {
    width: 100%;
}

/* Icon Animation*/
.navbar .socials a {
    transition-duration: 1s;
    transform: translateX(-80vw);
}

.navbar .socials a:nth-child(6) {
    transition-duration: .2s;
}
.navbar .socials a:nth-child(5) {
    transition-duration: .4s;
}
.navbar .socials a:nth-child(4) {
    transition-duration: .6s;
}
.navbar .socials a:nth-child(3) {
    transition-duration: .8s;
}
.navbar .socials a:nth-child(2) {
    transition-duration: 1s;
}
.navbar .socials a:nth-child(1) {
    transition-duration: 1.2s;
}

.active .socials a {
    transform: translateX(0);
}

.active {
    transform: translateX(0);
}