:root {
  --primary-color: #00796B;
  --secondary-color: #E0F2F1;
  /*--third-color: #4DB6AC;*/
  --third-color: darkcyan;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: initial;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  scroll-margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.init-style {
  width: 98%;
  height: auto;
  min-height: 600px;
  border-radius: 10px;
  margin: 2rem auto;
  box-shadow: 0 0 5px black;
  background-color: var(--secondary-color);
}

#html::before, #css::before,  #javascript::before, #mongodb::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background-color: crimson;
}

@keyframes progressBar-html {
	from {width: 0%;}
    to {width: 60%;}
} 

@keyframes progressBar-css {
	from {width: 0%;}
    to {width: 55%;}
} 

@keyframes progressBar-js {
	from {width: 0%;}
    to {width: 50%;}
} 

@keyframes progressBar-mongo {
	from {width: 0%;}
    to {width: 30%;}
} 

#html::before {
    width: 70%;
    animation: progressBar-html .5s ease-in-out .2s;
    animation-fill-mode: backwards;
}

#css::before {
    width: 55%;
    animation: progressBar-css .5s ease-in-out .2s;
    animation-fill-mode: backwards;
}

#javascript::before {
    width: 50%;
    animation: progressBar-js .5s ease-in-out .2s;
    animation-fill-mode: backwards;
}

#mongodb::before {
    width: 30%;
    animation: progressBar-mongo .5s ease-in-out .2s;
    animation-fill-mode: backwards;
}

/*ITYPED ANNIMATION*/

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
      opacity: 0;
  }
}
